{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Petshop - {{ animal.name }}{% endblock %}

{% block content %}
{% load static %}
<div class="flex justify-center p-4">
  <article class="flex flex-col bg-slate-700 box-shadow-lg shadow-white rounded-lg p-2 gap-2">
    <hgroup>
      <h2 class="text-center text-2xl font-bold text-pink-500">{{ animal }}</h2>
      <p class="text-center text-xl text-pink-300">{{ animal.race }} - {{ animal.order }}</p>
    </hgroup>
    <span class="p-1 text-xl text-center"><i>{{ animal.state}}</i> in the  <b>{{ animal.spot }}</b></span>
    <form method="POST" class="flex flex-col text-center rounded-md bg-slate-600 p-2">{% csrf_token %}
      {% if context != None %}
      <div class="self-center w-fit px-2 rounded-full {{ context.success|yesno:'bg-emerald-500 , bg-red-500' }} text-white">
        {% if context.success %}<i class="fa-solid fa-circle-check"></i>
        {% else %}<i class="fa-solid fa-circle-xmark"></i>{% endif %}
      <span>{{ context.message }}</span>
      </div>
      {% endif %}
      <div class="p-1 text-center">
        Try to move to
        <i class="fa-solid fa-suitcase-rolling"></i>
        <i class="fa-solid fa-person"></i>
      </div>
      <div>
        {{ form }}
        <button type="submit">
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </form>
    <img class="object-cover mx-2 rounded-md" src={{ animal.picture }} alt="Cute picture of {{ animal }}" />
  </article>
</div>
{% endblock %}
